numpy == 1.23.5
pandas == 2.2.3
scikit-learn == 1.5.2
shap == 0.46.0
tensorflow == 2.16.2
xgboost == 2.1.1
ray == 2.9.3
matplotlib
seaborn
hyperopt
imbalanced-learn
scikit-optimize
miceforest
tune_sklearn
setuptools == 41.0.0 # Required for Ray Tune